body {
  .img-logo {
    width: 100px;
    height: 100px;
  }

  .main-items {
    display: flex;
    flex-wrap: wrap;

    &__element {
      width: 20%;
      margin: 1em;
      height: 400px;
      padding: 1em;
      text-align: center;

      &:hover {
        transform: scale(1.1);
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transition: 1s;
      }

      .element{
        &__image{
          display: block;
          height: 200px;
          width: 100%;
        }

        &__header{
          font-size: 2em;
        }

        &__text{
          margin-top: 10px;
          text-align: justify;
        }
      }
    }
  }
}